@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tw-animate-css";

@media (max-width: 768px) {
  body {
    cursor: auto;
  }

  #custom-cursor {
    display: none;
  }
}

